{% extends "spend_smart/base_auth.html" %}
{% load static %}
{% block title %}Register{% endblock title %} {% block content %}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <a href="index.html" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <div class="avatar">
                                <img src="{% static "spend_smart/assets/img/favicon/favicon.png" %}" alt="" class="w-px-40 h-auto rounded-circle">
                              </div>
                        </span>
                        <span class="app-brand-text demo text-body fw-bold">Spend Smart</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Adventure starts here 🚀</h4>
                <p class="mb-4">Make your app management easy and fun!</p>

                {% include "spend_smart/partials/_messages.html" %}

                <form action="{% url "register" %}"  method="POST" id="formAuthentication" class="mb-3" action="index.html">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control"  name="username" placeholder="Enter your username" id="usernameField" autofocus />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback" id="username-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control"  name="email" placeholder="Enter your email" id="emailField" />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback" id="email-feedback"></div>
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" id="passwordField" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback" id="password-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                            <label class="form-check-label" for="terms-conditions">
                                I agree to
                                <a href="javascript:void(0);">privacy policy & terms</a>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary d-grid w-100" id="signup-button" disabled>Sign up</button>
                </form>

                <p class="text-center">
                    <span>Already have an account?</span>
                    <a href="{% url "login" %}">
                        <span>Sign in instead</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- Register Card -->
    </div>
</div>
<script src="{% static "spend_smart/assets/js/register.js" %}"></script>
{% endblock content %}
