{% extends "spend_smart/base_auth.html" %} 
{% load static %}
{% block title %}Reset Password{% endblock title %} {% block content %}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
        {% include "spend_smart/partials/_messages.html" %}
        <!-- Reset Password -->
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <a href="index.html" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <div class="avatar">
                                <img src="{% static "spend_smart/assets/img/favicon/favicon.png" %}" alt="" class="w-px-40 h-auto rounded-circle">
                              </div>
                        </span>
                        <span class="app-brand-text demo text-body fw-bold">spend smart</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Reset Password 🔒</h4>
                <p class="mb-4">for <span class="fw-medium">john.doe@email.com</span></p>
                <form id="formAuthentication" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" action="{% url "reset_password"%}" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <input type="hidden" name="userid" value="{{ id|default_if_none:'' }}">
                    <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                        <label class="form-label" for="password">New Password</label>
                        <div class="input-group input-group-merge has-validation">
                            <input type="password" id="passwordField" class="form-control" name="password" placeholder="············" aria-describedby="password" value="{{password|default_if_none:""}}"/>
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback" id="password-feedback"></div>
                    </div>
                    <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                        <label class="form-label" for="confirm-password">Confirm Password</label>
                        <div class="input-group input-group-merge has-validation">
                            <input type="password" id="confirm-password" class="form-control" name="confirm-password" placeholder="············" aria-describedby="password" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                     <button class="btn btn-primary d-grid w-100 my-3" id="button" disabled>Set new password</button>
                    <div class="text-center">
                        <a href="{% url "login" %}">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Back to login
                        </a>
                    </div>
                    <input type="hidden" />
                </form>
            </div>
        </div>
        <!-- /Reset Password -->
    </div>
</div>
<script src="{% static "spend_smart/assets/js/reset-password.js" %}"></script>
{% endblock content %}
