{% extends "spend_smart/base_auth.html" %} {% load static %} {% block title %}Verify Email{% endblock title %} {% block content %}

<div class="authentication-wrapper authentication-basic px-4">
    <div class="authentication-inner">
        {% include "spend_smart/partials/_messages.html" %}
        <!-- Verify Email -->
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <a href="index.html" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <div class="avatar">
                                <img src="{% static "spend_smart/assets/img/favicon/favicon.png" %}" alt="" class="w-px-40 h-auto rounded-circle">
                              </div>
                        </span>
                        <span class="app-brand-text demo text-body fw-bold">spend smart</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h3 class="mb-2">Verify your email ✉️</h3>
                <p class="text-start">Account activation link sent to your email address: {{email}} Please follow the link inside to continue.</p>
                <a class="btn btn-primary w-100 my-3" href="{% url "login" %}"> Login </a>
                <p class="text-center">
                    Didn't get the mail?
                    <a href="javascript:void(0);"> Resend </a>
                </p>
            </div>
        </div>
        <!-- /Verify Email -->
    </div>
</div>

<!-- / Content -->
{% endblock content %}
