{% extends "spend_smart/base.html" %}
{% load static %}
{% block title %}Add Expenses{% endblock title %}
{% block page %}

<h5 class="my-md-3 my-lg-3 my-2">
    <span class="text-muted fw-light"> 
        Home /
    </span>
<a href="{% url "expenses" %}">
    <span class="text-muted fw-light"> 
        Expenses
    </span>
</a>
/ Add Expense
</h5>

{% endblock page %} {% block content %}
<div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Enter Details</h5>
      </div>
      <div class="card-body">
        <form action="{% url 'add_expense' %}" method="post">
            {% csrf_token %}
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">Amount</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="basic-default-name" placeholder="0000.00" name="amount" value="{{ amount|default_if_none:'' }}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Description</label>
            <div class="col-sm-10">
              <textarea id="basic-default-message" class="form-control" placeholder="Hi, Do you have a moment to talk Joe?" aria-label="Hi, Do you have a moment to talk Joe?" aria-describedby="basic-icon-default-message2" name="desc" >{{ desc|default_if_none:'' }}</textarea>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-phone">Category</label>
            <div class="col-sm-10">
                <select id="defaultSelect" class="form-select" name="category">
                    <option selected>Choose category</option>
                    {% for category in categories  %}
                        <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>{{category.name}}</option>
                    {% endfor %}
                  </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-email">Date</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <input class="form-control" type="date"  id="html5-date-input" name="date" value="{{ date|default_if_none:'' }}">               
              </div>
            </div>
          </div>       
          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
